<include file="Public:ios_header" />
          <section>
                 <div class="data-box">
                       <div class="data-head">
                             <div>头像</div>
                             <div class="data-headd" onclick="disp_page('upload')"><img src="{$see.user_pic}"></div>
                       </div>
                       <div class="data-list" onclick="disp_page('auto:http://www.cuteyep.com/app/index.php?s=Me/data_name/type/1')">昵称 <i class="iconfont memore-ico" ></i></div>
                 </div>
                <div class="data-box">
                       <div class="data-list" onclick="disp_page('auto:http://www.cuteyep.com/app/index.php?s=Me/data_gender/type/1')">性别 <i class="iconfont memore-ico" ></i></div>
                       <div class="data-list" onclick="disp_page('auto:http://www.cuteyep.com/app/index.php?s=Me/data_age/type/1')">年龄 <i class="iconfont memore-ico" ></i></div>
                       <div class="data-list" onclick="disp_page('auto:http://www.cuteyep.com/app/index.php?s=Me/data_region/type/1')">地区 <i class="iconfont memore-ico" ></i></div>
                 </div>
          </section>

<script src="__APP__/public/js/ios_public.js"></script>
<include file="Public:ios_see_footer" />
