<include file="Public:ios_header" />
<script src="__APP__/public/js/gmu.js"></script>

         <section>
                     <div style=" padding: 10px;">
                           <volist name="list" id="vo" empty='$empty' >
                           <div class="hm-cn-list">
                                 <div onclick="disp_page('http://www.cuteyep.com/app/index.php?s=Index/greeting_card_con/id/{$vo.id}')/type/1"><img src="{$vo.cover}" class="hm-cn-listi"></div>
                                 <div class="hm-cn-listx">
                                       <p>{$vo.title}</p>
                                 </div>
                                 <!--取消关注-->
                                <div class="follow-close" rel="{$vo.id}"></div>
                           </div>
                           </volist>
                           <div class="cb"></div>
                     </div>
         </section>

          <script type="text/javascript">
              //tabs
              $('.metabs span').click(function(){
                  
                  $('.metabs span').each(function(){
                        $('.metabs span').removeClass('active')
                  })

                  $(this).addClass('active')

                  var wpIndex =$(this).index();
                   $('#tabs-con article').each(function(){
                     $('#tabs-con article').removeClass('select');
                  })
                  $('#tabs-con article').eq(wpIndex).addClass('select');

              })
              //取消表情关注
              
              $('.hm-cn-list .follow-close').click(function(){
                   var confm= confirm('您确定要删除此贺卡吗？');
                   var id = $(this).attr('rel');
                   if(confm ==true){
                       $(this).parent().remove();
                       $.post('__APP__/index.php?s=Me/del_diy',{id:id},function(){});
                   }
              })

              
          </script>
<include file="Public:ios_see_footer" />   

